<div class="container mt-5 pt-5 text-center">
    <h2 class="mb-5">About Furnito<span class="art-style">ART</span></h2>
    <p>We are a modern, intuitive and refined online store, a universe of the latest trends in interior design, where you can find a variety of international and local top authentic brands. We put together impressive moodboards, containing our know-how and experience with fitted pieces of furniture, flooring, acoustic, lighting, decorations and other elements of interior design, which complement each other perfectly.
        Let yourself be inspired!</p>
    <div class="d-flex row justify-content-center mt-5">
        <div class="col-lg-4 col-12">
            <img src="../../../../assets/images/about.jpg" alt="Image in about section" class='img-fluid'>
        </div>
        <div class="col-lg-4 col-12 mt-5 mt-lg-0 text-center text-lg-start">
            <p>We want to offer inspiration in interiors and design, whether you want to furnish a bedroom, a small hallway, an office or your entire home!</p>
            <p>Our shop has a wide range of different designs and much more!</p> <p>Whatever your style and preferences, we hope you can find furniture to suit your home.</p>
        </div>
    </div>
</div>
