<div class="container mt-5 pt-5 text-center">
    <form #formDirective="ngForm" [formGroup]="service.form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="service.form.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="service.form.get('email')?.hasError('email')">Email is not in correct format</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="service.form.get('password')?.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="service.form.get('password')?.hasError('pattern')">Password shoud be minimum 8 characters long(at least one uppercase and lowercase letter, digit and special character)</mat-error>
        </mat-form-field>
        <div class=text-center>
            <button type="submit" mat-raised-button color="primary" [disabled]="service.form.invalid">Log in</button>
        </div>
        <ng-container *ngIf="errorMessage">
            <p class="error">{{ errorMessage }}</p>
        </ng-container>
    </form>
</div>
